{% comment %}
{% capture critical %}
  {% include head/critical.scss %}
{% endcapture %}
<style>
  {{ critical | scssify }}
</style>
{% endcomment %}
<style>
  {% include head/critical.css %}
</style>
<link rel="preload" href="{{ '/assets/css/main.css' | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
{% case site.fontawesome %}
  {% when "sass" %}
    <link rel="preload" href="{{ '/assets/webfonts/fa-solid-900.woff2' | relative_url }}" as="font" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="{{ '/assets/webfonts/fa-brands-400.woff2' | relative_url }}" as="font" onload="this.onload=null;this.rel='stylesheet'">
{% endcase %}
<noscript>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  {% case site.fontawesome %}
    {% when "sass" %}
      <link rel="stylesheet" href="{{ '/assets/webfonts/fa-solid-900.woff2' | relative_url }}">
      <link rel="stylesheet" href="{{ '/assets/webfonts/fa-brands-400.woff2' | relative_url }}">
  {% endcase %}
</noscript>
<script defer src="{{ '/assets/js/loadCss.js' }}"></script>
