<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="shortcut icon" href="{{ '/assets/favicon.ico' | relative_url }}">

<link rel="icon" type="image/png" sizes=16x16 href="{{ '/assets/favicon-16x16.png' | relative_url }}">
<link rel="icon" type="image/png" sizes=32x32 href="{{ '/assets/favicon-32x32.png' | relative_url }}">

<link rel="icon" type="image/png" sizes="192x192" href="{{ '/assets/android-chrome-192x192.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="512x512" href="{{ '/assets/android-chrome-512x512.png' | relative_url }}">

<link rel="apple-touch-icon" type="image/png" href="{{ '/assets/apple-touch-icon.png' | relative_url }}">
<!-- end custom head snippets -->
