<meta charset="utf-8">

{% if site.web_vitals %}
<!-- Load `web-vitals` using a module script. -->
<script type="module">
  import {getCLS, getFID, getLCP} from 'https://unpkg.com/web-vitals@0.2.4/dist/web-vitals.es5.min.js?module';

  getCLS(console.log);
  getFID(console.log);
  getLCP(console.log);
</script>
{% endif %}

{% include head/analytics.html %}

{% include head/seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- https://t.co/dKP3o1e -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

{% include head/css.html %}

{% include head/configuration.js %}

{% include head/scripts.html %}
