<div class="page__inner-wrap">
  {% unless post.header.overlay_color or post.header.overlay_image %}
    <header>
      {% if post.title %}
        <h1 id="post-title" class="page__title" itemprop="headline">
          {% if include.home %}
            <a href="{{ post.url | relative_url }}">
              {{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}
            </a>
          {% else %}
            {{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}
          {% endif %}
        </h1>
      {% endif %}
      {% if post.read_time %}
        <p class="page__meta"><i class="far fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
      {% endif %}
    </header>
  {% endunless %}

  <section class="page__content" itemprop="text">
    {% if post.toc %}
    <aside class="sidebar__right {% if post.toc_sticky %}sticky{% endif %}">
      <nav class="toc">
        <header><h4 class="nav__title"><i class="fas fa-{{ post.toc_icon | default: 'file-alt' }}"></i> {{ post.toc_label | default: site.data.ui-text[site.locale].toc_label | default: "On this post" }}</h4></header>
        {% include toc.html sanitize=true html=post.content h_min=1 h_max=6 class="toc__menu" %}
      </nav>
    </aside>
    {% endif %}
    {{ post.content }}
    {% if post.link %}<div><a href="{{ post.link }}" class="btn btn--primary">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
  </section>

  <footer class="page__meta">
    {% if site.data.ui-text[site.locale].meta_label %}
      <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
    {% endif %}
    {% include page__taxonomy.html %}
    {% if post.last_modified_at %}
      <p class="page__date"><strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ post.last_modified_at | date: "%Y-%m-%d" }}">{{ post.last_modified_at | date: "%B %d, %Y" }}</time></p>
    {% elsif post.date %}
      <p class="page__date"><strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></p>
    {% endif %}
  </footer>

  {% if page.share %}
    {% include social-share.html %}
  {% endif %}
</div>