---
layout: page
title: {{ page.lang }}
---
<section id="{{ page.lang | slugify | downcase }}" class="taxonomy__section">
  {% if page.title and page.description %}
    <b>{{ page.title }}</b> - {{ page.description }}
  {% endif %}
  <div class="entries-{{ page.entries_layout | default: 'list' }}">
    {% for post in site.posts %}
      {% assign langs = post.langs | split: ' ' %}
      {% if langs contains page.lang %}
        {% include archive-single.html type=page.entries_layout %}
      {% endif %}
    {% endfor %}
  </div>
  <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
</section>

{% if page.content or page.content != "" %}
  <h2> Linki zewnętrzne </h2>
  {{ page.content }}
{% endif %}
