---
layout: page
title: {{ page.tool }}
---
<section id="{{ page.tool | slugify | downcase }}" class="taxonomy__section">
  <b>{{ page.title }}</b> - {{ page.description }}
  <div class="entries-{{ page.entries_layout | default: 'list' }}">
    {% for post in site.posts %}
    {% assign tools = post.tools | split: ' ' %}
      {% if tools contains page.tool %}
        {% include archive-single.html type=page.entries_layout %}
      {% endif %}
    {% endfor %}
  </div>
  <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
</section>

<h2> Linki zewnętrzne </h2>
{{ page.content }}

