#cookie-notice {
  @include clearfix;
  color: $muted-text-color;
  background-color: $footer-background-color;

  display: none;
  text-align: center;
  padding: 1rem;

  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;

  bottom: 0;
  z-index: 0;
  position: fixed;

  max-width: 100%;
  @include breakpoint($x-large) {
    max-width: $x-large;
  }

  a {
    display: inline-block;
    cursor: pointer;
    margin-left: 0.5rem;
  }
}

